<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <system.serviceModel>
    <client>
      <endpoint address="net.Tcp://localhost/8009/GeoService" binding ="netTcpBinding" contract="GeoLib.Contracts.IGeoService" name="tcpEP" bindingConfiguration="binding1"></endpoint>
      <endpoint address="http://localhost/GeoService" binding="basicHttpBinding" contract="GeoLib.Contracts.IGeoService" name="httpEP"></endpoint>
      <!--
      <endpoint address="net.Tcp://localhost/8009/MessageService" binding="netTcpBinding" contract="GeoLib.Client.Contracts.IMessageService"></endpoint>
      -->
      <endpoint address="http://localhost:5059/GeoManager.svc" binding="wsHttpBinding" contract="GeoLib.Contracts.IGeoService" name="webEP"></endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="binding1" sendTimeout="00:00:10"  maxReceivedMessageSize="200000000" receiveTimeout="00:00:05">
          <reliableSession inactivityTimeout="00:00:05"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>